body {
  font-family: "Roboto", sans-serif; /* Đặt font chữ bạn muốn sử dụng */
  font-weight: 500;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
}
:root {
  --background-color: #f6f7fb;
  --border-bottom-color: #a8b1ff;
  --text-color: #586380;
}
